<%= render "header" %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                Welcome
                <small>Simple Blog</small>
            </h1>

            <!-- First Blog Post -->
            <% @articles.each do |article| %>
            <h2>
                <%= link_to article.title, article %>
            </h2>
            <p class="lead">
                by <%= article.user.email %>
            </p>
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on <%= article.created_at %>
                <% if current_user && article.user_id == current_user.id %>
                    <%= link_to "編輯", edit_article_path(article), class: "btn btn-link"%>
                    <%= link_to "刪除", article_path(article), class: "btn btn-danger", :method => :delete, data: {confirm: "確定要刪除文章?"} %>
                <% end %>
            </p>
            <hr>
            <p><%= truncate(article.content, length: 30) %></p>
            <a class="btn btn-primary" href="articles/<%= article.id %>">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>
            <% end %>

            <!-- Pager -->
            <%= paginate @articles %>

        </div>
    </div>
    <!-- /.row -->

    <hr>

        <%= render "footer" %>

</div>
<!-- /.container -->